
<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">name</th>
            <th scope="col">tag</th>
            <th scope="col">id</th>
            <th scope="col">class</th>
        </tr>
    </thead>
    <tbody>
<% @tags.each do |tag| %>
        <tr>
            <td>
                <%= tag.name %>
            </td>
            <td>
                <%= tag.tag_name %>
            </td>
            <td>
                <%= tag.record_id %>
            </td>
            <td>
                <%=link_to tag.record_type, main_app.url_for(tag.record) %>
            </td>
        </tr>
<% end %>
    </tbody>
</table>
